.logo {
    color: #2196f3;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: normal;
    display: block;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &-header {
            margin-right: 93px;
            align-items: baseline;
        }
    
    &-footer {
            margin-bottom: 20px;
        }

    &__write {
        color: rgb(252, 251, 251);
    }

    &__dark {
        color: rgb(6, 6, 6);
    }

    &:hover,
    .footer_web:hover,
    .footer_web:focus .logo:focus {
        color: #2196f3;
    }
}

