.logo {
    color: $color-blu;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: normal;
    display: block;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &-header {
            margin-right: 93px;
            align-items: center;
        }
    
    &-footer {
            margin-bottom: 20px;
        }

    &__write {
        color: $color-white;
    }

    &__dark {
        color: $color-black;
    }

    &:hover,
    .footer_web:hover,
    .footer_web:focus .logo:focus {
        color: $color-blu;
    }
}

