.nav {
    display: flex;
    align-items: baseline;
    margin-right: auto;

    &__items {
            margin: 0;
            position: relative;
        }
    
    &__contact {
        list-style: none;
        display: flex;
        padding: 0px;
        margin: 0px;
    }

            &__contact:first-child {
                color: rgba(33, 150, 243, 1);
                line-height: 1.4;
            }

    &__list {
        list-style: none;
        display: flex;
        padding: 0px;
        margin: 0px;
        align-items: baseline;
        gap: 50px;
    }

    &__link {
        color: #212121;
        line-height: 1.14;
        letter-spacing: normal;
        font-weight: 500;
        text-decoration: none;
        display: flex;
        align-items: center;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
            &__link:hover,
            &__link:focus {
                color: #2196f3;
            }

            &__link:hover .header__svg,
            &__link:focus .header__svg {
                fill: #2196f3;
            }

    &__mail-link {
        display: flex;
        gap: 10px;
        justify-content: center;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__mail-link .nav__link {
        color: #757575;
    }

            &__mail-link .nav__link:hover,
            &__mail-link .nav__link:focus {
                color: #2196f3;
                }

    &__mail-link:last-child {
        margin-left: 50px;
    }
            &__mail-link:hover .nav__link,
            &__mail-link:focus-within .nav__link {
                color: getColor('foc-col-blu');
            width: 100%;
                height: 100%;
            align-items: center;
            justify-content: center;
            outline: none;
            }
    &__link-page {
        text-decoration: none;
        color: rgba(33, 150, 243, 1);
        line-height: 1.14;
        letter-spacing: normal;
        font-weight: 500;
        border: none;
        padding-bottom: 28px;

        transition-property: color, background-color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link-page::after {
        content: '';
        text-decoration: underline;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0px;
        bottom: -28px;
        background: #2196f3;
        border-radius: 2px;
        z-index: 10;
    }
        }


ul .Link_Studio:active,
.nav__mail-link:active,
.foot_link:active {
    color: #2196f3;
}

.web,
.nav__mail-link,
.foot_link {
    text-decoration: none;
    text-align: center;
}