/* section hero */

.hero {
    background-color: $color-grey;
    background-image: linear-gradient($color-hero-grad,
            $color-hero-grad),
        url(../images/Img\ Overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $color-white;
    padding: 200px 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    &-folio {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}



/* section our_section */

.our_section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__icon {
        width: 270px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        background-color: $color-white;
    }

    &__title-section {
        line-height: 1.15;
        letter-spacing: normal;
        font-size: 14px;
        margin: 0px 0px 10px 0px;
    }

    &__paragraf {
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $color-grey;
        margin: 0px;
        width: 270px;
    }
}

    .our_section__visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }

    .our_section__visually-hidden .list {
        width: 1170px;
        margin: 94px 215px;
        display: block;
    }

.our_section__items {
    width: 270px;
}

/* section command */

.command {
   padding-top: 94px;
   padding-bottom: 94px;

    &-section {
            box-sizing: content-box;
            background-color: $color-white;
        }
    &__socials {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        fill:$color-grey;
        gap: 10px;
        padding: 0;
        margin: 16px 0 0 0;
    }

    &__transcript {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__title &__paragraf {
        line-height: 1.2;
    }

    &__paragraf {
        margin-bottom: 16px;
        margin-top: 0;
    }

    &__title {
        list-style: none;
        display: flex;
        margin: 0;
    }
    
    .product 
    
    &__paragraf {
        line-height: 1.875;
    }
    &__name {
        text-align: center;
        letter-spacing: 0.03em;
        color: $color-black;
        margin: 0;
        margin-bottom: 10px;
    }

    &__title &__name {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
    }

    &__title {
        padding: 0px;
    }

    &__fon {
        background-color: $color-white;
        margin-left: 30px;
        width: 270px;
        margin-left: 30px;
        box-shadow: 0px 2px 1px 0px $color-shadow-mod20,
            0px 1px 1px 0px $color-shadow-mod14;
    }

    &__fon:first-child {
        margin-left: 0px;
    }

}

.product .command__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.command__title .command__paragraf,
.product .command__paragraf {
    text-align: center;
    font-size: 16px;
}

.product__reference:hover,
.product__reference:focus {
    display: block;
    text-decoration: none;
    box-shadow: 1px 4px 6px 0px $color-shadow,
        0px 4px 4px 0px $color-shadow2;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product__reference {
    text-decoration: none;
    box-shadow: 1px 4px 6px 0px $color-shadow,
        0px 4px 4px 0px $color-shadow2;
}

.product__reference:hover .product--overley,
.product__reference:focus .product--overley {
    transform: translatey(0);
    background-color: $color-blu;
    color: $color-white;
}

.ellips {
    width: 44px;
    height: 44px;

    &-link {
            display: flex;
            background-color: $color-white;
            border-radius: 100%;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
    
            transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        


    
        }
}

.ellips-link:hover,
.ellips-link:focus {
        background-color: $color-blu;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        padding: 12px;
        margin: 0;
        outline: none;
    }

.ellips-link:hover .link-icon,
.ellips-link:focus .link-icon {
    fill: $color-white;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.link-icon {
    border: none;
    fill: $color-grey;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}




/* section const_section*/

.const_section {
    padding-bottom: 94px;
    padding-top: 94px;
    margin-left: auto;
    margin-right: auto;

}

.klients {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    fill:$color-blu;
    gap: 30px;
    padding: 0%;
    margin: 0%;

    &-link {
        width: 170px;
        height: 92px;
        fill: $color-grey;
        display: block;
        border: 1px solid $color-grey;

        transition-property: fill, border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

        
    &-logo {
        max-width: 106px;
        max-height: 60;
    }
}

.klients-link:focus,
.klients-link:hover {
    fill: $color-blu;
    border: 1px solid $color-blu;
    outline: none;
}
/* section doing*/

.doing {
    padding-bottom: 94px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    &__substrate {
        width: 370px;
        height: 294px;
        position: relative;
    }

    &__fon {
        width: 100%;
        height: 70px;
        bottom: 0;
        position: absolute;
        color: $color-white;
        background-color: $color-black;
    }

    &__title {
        text-align: center;
        line-height: 1.2;
        font-weight: 700;
        justify-content: center;
        margin: 0;
        margin-top: 27px;
    }
    &__photo {
        display: block;
    }

    &__photo:first-child {
        margin-left: 0px;
    }
}